.screen
{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 1903;
    height: 1066px;
}

.screen__logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1066px;
    margin-left: 150px
}

.login-background
{
    z-index: -1;
    width: 100%;
    height: 1066px;
    position: absolute;
}

.logo-admin
{
    height: 66px;
    z-index: 2;
    margin-bottom: 15px;
}

.logo-subtitle
{
    z-index: 2;
    font: 400 normal 22px/25px 'Oxygen';
    color: #FFFFFF;
    margin-bottom: 70px;
    margin-right: 70px;
}

.screen__login-form
{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 632px;
    height: 738px;
    background-color: #FFFFFF;
    margin-top: 160px;
    margin-right: 20px;
    margin-left: 190px
}

.login-form__text
{
    margin-top: 78px;
    margin-left: 50px;
    font: 400 normal 44px/40px 'Lora';
    margin-bottom: 20px;
}

.login-form__form
{
    margin-top: 20px;
    margin-left: 50px;
}

.form__email-password
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 38px;
}

.email-password__text
{
    font: 400 normal 16px/16px 'Oxygen';
    color: #7A7A7A;
}

.email-password__admin-field
{
    width: 530px;
    height: 54px;   
    border: 0;   
    outline-width: 0;
    margin-top: 6px;
    font: 400 normal 20px/16px 'Oxygen';
    color: #000000;
    border-style: none;
    border-radius: 2px;

    background: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
}

.form__delimeter
{
    height: 16px;
}

.form__button
{
    border: 0;
    height: 62px;
    width: 122px;
    margin-top: 52px;
    background: #DD783F;
    border-radius: 3px;
    color: #FFFFFF;
    font: 400 normal 20px/24px 'Oxygen';
}

.email-password__image
{
    width: 32px;
    position: absolute;
    margin-top: 20px;
    margin-left: 494px;
}

.login__messages
{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.messages__message-preparation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 530px;
    opacity: 0%;
    height: 0px;
    margin-top: 0px;
}

.messages__error-message
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFEBEA;
    border-radius: 5px;
    border-inline: solid;
    border-color: #E86961;
    border-right: 5px;
    width: 530px;
}

.message__icon
{
    height: 32px;
    margin-left: 14px;
}

.message__text
{
    font: 400 normal 18.5px/20px 'Oxygen';
    line-height: 20px;
    color: #000000;
    margin-left: 12px;
}
.message-disappear
{
    animation-name: message-animation-disappear;
    animation-duration: 0.3s;
}

.message-appear
{
    animation-name: message-animation-appear;
    animation-duration: 0.3s;
}

.message-hidden
{
    opacity: 0%;
    height: 0px;
    margin-top: 0px;
}

.message-shown
{
    opacity: 100%;
    height: 58px;
    margin-top: 42px;
}

@keyframes message-animation-appear
{
    from
    {
        opacity: 0%;
        height: 0px;
        margin-top: 0px;
    }
    to
    {
        opacity: 100%;
        height: 58px;
        margin-top: 42px;
    }
}

@keyframes message-animation-disappear
{
    from
    {
        opacity: 100%;
        height: 58px;
        margin-top: 42px;
    }
    to
    {
        opacity: 0%;
        height: 0px;
        margin-top: 0px;
    }
}